<h1> Job Board </h1>

<% @jobs.each do |job| %> <%# Code tags %>
  <div class="job"> 
    <strong>
      <%= link_to job.title, job_path(job.id) %>
    </strong>
    <br/>
  </div>
<% end %>
<br/>
<%= link_to 'Add Job', new_job_path %>